
global
    log 127.0.0.1 local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    retries 3
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen rabbitmq
    bind *:5672
    mode tcp
    balance roundrobin
    server rabbitmq1 rabbitmq1:5672 check inter 5000 rise 2 fall 3
    server rabbitmq2 rabbitmq2:5672 check inter 5000 rise 2 fall 3
    server rabbitmq3 rabbitmq3:5672 check inter 5000 rise 2 fall 3

listen stats
    bind *:15672
    mode http
    stats enable
    stats uri /
    stats realm Haproxy\ Statistics
    stats auth admin:admin
